@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  position: relative;
}
.home-image{
  height: 100vh;
  overflow:hidden;
}
.home-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home-text h1{
  font-family: 'Mulish', sans-serif;
font-weight: 200;
font-size: 50px;
line-height: 75px;
color: #FFFFFF;
opacity: 0.7;

} 
.home-text p{
  font-family: 'Mulish';
font-weight: 200;
font-size: 20px;
line-height: 31px;
text-align: center;
color: #FFFFFF;
opacity:0.7
}
.home-text-action{
  display: flex;
  margin: 20px;
  align-items: center;
  
}
.button{
width: 200px;
height: 70px;
left: 460px;
top: 548px;
background: #FFFFFF;
margin-right: 20px;
}
.menu{
  margin: 2em;
}
.menu-container{
  padding: 2em;
  display: flex;
  flex-wrap:wrap ;
}
.menu-container-card{
  width: 224px;
  height: 275px;
  text-align: center;
  justify-content: center;
  margin: 18px;
}
.menu h1{
  font-family: 'Mulish';
  font: weight 200px;
  text-align: center;
}

